#!/bin/bash

[[ "$android_dir" == "" ]] && export android_dir=~/android/system
[[ "$patch_dir" == "" ]] && export patch_dir=$script_dir/../OpenPDroid-patches
[[ "$patch_filename_prefix" == "" ]] && export patch_filename_prefix=openpdroid_4.4-cm_
[[ "$git_branch" == "" ]] && export git_branch=openpdroid

function project_list {
    $1  build.patch                     build
    $1  libcore.patch                   libcore
    $1  frameworks_base.patch           frameworks/base
    $1  frameworks_opt_telephony.patch  frameworks/opt/telephony
    $1  packages_apps_Mms.patch         packages/apps/Mms
}

